

.boton {
    background-color: #fffff; 
    color: #6b1111; 
    border: none; 
    border-radius: 5px; 
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    text-decoration: none; 
}

.boton:hover {
    background-color: rgba(255, 255, 255, 0.7); 
    transform: scale(1.05); 
}

.boton:active {
    transform: scale(0.95); 
}
